.box {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 160px;
    margin: 40px auto;
    margin-top: 120px;
}
hr {
    height: 3px;
    background: rgba(53, 121, 96, 0.6);
    border: none;
}
hr:last-child {
    display: none;
}
.summary {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 50%;
    margin: auto;
    padding: 20px 0;
    font-size: 21px;
    border-top: 1px lightgrey solid;
}