.box {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* gap: 160px; */
    margin: 0px auto;
    margin-bottom: 100px;
}
.testWrapper {
    padding: 120px 0;
    border-bottom: 3px solid rgba(53, 121, 96, 0.6);
}
.testWrapper:first-child {
    padding-top: 80px;
}
.testWrapper:last-child {
    border-bottom: none;
}
.summary {
    position: fixed;
    bottom: 0;
    width: 50%;
    margin: auto;
    padding: 15px;
    font-size: 21px;
    /* border-top: 1px lightgrey solid; */
}