.title {
    text-align: left;
    font-weight: bold;
    width: 100%;
    font-size: 36px;
    margin: 0 auto 20px auto;
}
.quizCard {
    padding: 15px;
    /* border: 1px lightgrey solid; */
    min-width: 300px;
}
.quizTopic {
    text-align: left;
    font-weight: bold;
    font-size: 23px;
    margin: 0 auto 20px auto;
    width: 100%;
}