.title {
    text-align: left;
    font-weight: bold;
    width: 100%;
    font-size: 36px;
    margin: 0 auto 20px auto;
}
.quizCard {
    padding: 20px;
    border: 1px lightgrey solid;
    border-radius: 5px;
    min-width: 300px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.quizTopic {
    text-align: left;
    font-weight: bold;
    font-size: 23px;
    margin: 0 auto 20px auto;
    width: 100%;
}