.title {
    text-align: left;
    font-weight: bold;
    width: 100%;
    font-size: 36px;
    margin: 0 auto 20px auto;
}
label {
    font-size: 23px;
}
input {
    font-size: 21px;
    border: none;
    outline: none;
}