.title {
    text-align: left;
    font-weight: bold;
    width: 100%;
    font-size: 36px;
    margin: 0 auto 20px auto;
}
.form label {
    font-size: 23px;
}
.form input, .form textarea, .form select {
    font-size: 21px;
    border: none;
    outline: none;
}
.form .checkInput {
    transform: scale(1.8);
}
.form .checkInput:not([disabled]) {
    cursor: pointer;
}

.checkInput {
    transform: scale(1.8);
}
.checkInput:not([disabled]) {
    cursor: pointer;
}